---
import Layout from "@components/BootsrappLayout.astro";
import MapElement from "@components/MapElement/MapElement.astro";
import NavBar from "@components/NavBar/NavBar.astro";
import Vegitation from "@components/Vegitation.astro";
// this page is for editing and checking apis, not for production
---

<Layout title="testing">
  <NavBar />

  <div class="container"></div>
  <MapElement />
  <!-- <div class="bg-red-300 h-remain">
    <Vegitation />
  </div> -->
</Layout>
