---
import BaseLayout from "@components/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
---
<html>
  <Navbar></Navbar>
  <div class="bg-blue-500">
<BaseLayout title="eZone">
  <h1>This is a heading</h1>
</BaseLayout>
</div>
</html>
