---
import Layout from "@components/BootsrappLayout.astro";
import MapElement from "@components/MapElement/MapElement.astro";
import NavBar from "@components/NavBar/NavBar.astro";
// this page is for editing and checking apis, not for production
---

<Layout title="testing">
  <NavBar />

  <div class="container"></div>
  <MapElement />
</Layout>
