---
import SearchBar from "./SearchBar.astro";
---

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <img src="/favicon.svg" width="30" height="24" />
    <a class="navbar-brand" href="#">E-ZONE</a>
    <div class="me-6">- a better zone for everyone</div>
    <form class="d-flex" role="search">
      <SearchBar />
    </form>
  </div>
</nav>
